<!DOCTYPE html>
<html lang="es" ng-app="TiendaApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Tienda DAW</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="img/icon2.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="MainController">

    <!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark px-4">
    <span class="navbar-brand fs-4 fw-bold">Mi Tienda</span>
    <div class="d-flex align-items-center"
         data-bs-toggle="modal" 
         data-bs-target="#carritoModal"
         style="cursor: pointer;">
        <i class="bi bi-cart3 text-white fs-4 me-2"></i>
        <span class="text-white fs-5 fw-bold" ng-bind="'$' + (totalGeneralDisplay || '0.00')"></span>
    </div>
</nav>

    <div id="heroSlider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="img/slider1.jpg" class="d-block w-100 img-slider">
            </div>

            <div class="carousel-item">
                <img src="img/slider2.jpg" class="d-block w-100 img-slider">
            </div>

            <div class="carousel-item">
                <img src="img/slider3.jpg" class="d-block w-100 img-slider">
            </div>

        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="container mt-5">
        <div class="input-group mb-5">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input type="text" 
                   class="form-control" 
                   placeholder="Busca por nombre, descripción o categoría..."
                   ng-model="busquedaTexto"> </div>
    </div>
    <div class="container mt-5" ng-controller="CategoriasController">
        <h3 class="mb-3">Categorías</h3>

        <button class="btn btn-outline-primary btn-sm me-2 mb-2"
                ng-repeat="cat in categorias"
                ng-click="seleccionarCategoria(cat)">
            {{ cat }}
        </button>
    </div>

    <div class="container mt-5"
        ng-controller="ProductosCategoriaController"
        ng-show="productosPorCategoria.length > 0">

        <h2 class="text-center mb-4">
            Productos en: {{ $parent.categoriaSeleccionada || 'Todos' }}
        </h2>

        <div class="row justify-content-center">

            <div class="col-md-4 mb-4" 
                ng-repeat="prod in productosPorCategoria | filter: { title: $parent.busquedaTexto }"> 
                <div class="card h-100 shadow-sm card-producto">
                    <img ng-src="{{ prod.image }}" class="card-img-top img-card" alt="producto">

                    <div class="card-body">
                        <h5 class="card-title">{{ prod.title }}</h5>
                        <p class="text-success fw-bold">$ {{ prod.price }}</p>

                        <button class="btn btn-primary w-100"
                            ng-click="verDetalles(prod)"
                            data-bs-toggle="modal" data-bs-target="#productoModal">
                            Detalles
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
    <div class="container mt-5" ng-controller="ProductosCtrl" ng-if="!categoriaSeleccionada">
        <h2 class="text-center mb-4">Catálogo Completo</h2>

        <div class="row justify-content-center">

            <div class="col-md-4 mb-4" ng-repeat="item in productos | filter: { title: busquedaTexto }">
                <div class="card h-100 shadow-sm card-producto">
                    <img ng-src="{{ item.image }}" class="card-img-top img-card" alt="producto">

                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="text-success fw-bold">$ {{ item.price }}</p>

                            <button class="btn btn-primary w-100"
                                ng-click="verDetalles(item)"
                                data-bs-toggle="modal" data-bs-target="#productoModal">
                                Detalles
                            </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- MODAL -->
<div class="modal fade" id="productoModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" ng-if="productoSeleccionado"> 
            
            <div class="modal-header">
                <h5 class="modal-title">{{ productoSeleccionado.title }}</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body row">
                <div class="col-4">
                    <img ng-src="{{ productoSeleccionado.image }}" class="img-fluid rounded" alt="imagen del producto">
                </div>
                <div class="col-8">
                    <p class="fs-4 fw-bold text-success">$ {{ productoSeleccionado.price | number: 2 }}</p>
                    <p>{{ productoSeleccionado.description }}</p>
                    <p class="small text-muted">Categoría: {{ productoSeleccionado.category }}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-dark" 
                        data-bs-dismiss="modal"
                        ng-click="agregarProductoAlCarrito(productoSeleccionado)">
                    <i class="bi bi-cart-plus me-2"></i>Agregar
                </button>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="carritoModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Carrito de compras</h5>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div ng-if="carrito.length === 0" class="text-center p-5">
                    <p class="lead">El carrito está vacio.</p>
                </div>
                
                <table class="table table-striped" ng-if="carrito.length > 0">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="text-end">Precio</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-end">SubTotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in carrito">
                            <td class="align-middle d-flex align-items-center">
                                <img ng-src="{{ item.image }}" style="width: 50px; margin-right: 10px;" class="rounded">
                            
                            </td>
                            <td class="align-middle text-end">$ {{ item.price | number: 2 }}</td>
                            <td class="align-middle text-center">
                                <div class="input-group input-group-sm d-inline-flex" style="width: 120px;">
                                    <button class="btn btn-outline-secondary" ng-click="decrementarCantidad(item)">-</button>
                                    <input type="text" class="form-control text-center" ng-model="item.quantity" readonly>
                                    <button class="btn btn-outline-secondary" ng-click="incrementarCantidad(item)">+</button>
                                </div>
                            </td>
                            <td class="align-middle text-end fw-bold">$ {{ calcularSubtotal(item) }}</td>
                            <td class="align-middle">
                                <button class="btn btn-danger btn-sm" ng-click="eliminarItem(item)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-end fw-bold fs-5">Total General:</td>
                            <td class="text-end fw-bold fs-5 text-primary">$ {{ totalGeneralDisplay }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-success" 
                        ng-click="RealizarPago()"
                        ng-disabled="carrito.length === 0">
                    <i class="bi bi-credit-card me-2"></i>Pagar
                </button>
            </div>
            
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/categoriasController.js"></script>
    <script src="js/controllers/productosCategoriaController.js"></script>
    <script src="js/controllers/ProductosCtrl.js"></script>

</body>

</html>